.banner {
    z-index: 3;
    padding-top: 80px;

    .navbar-fixed-top {
        top: 30px;
        background-color: white;
        border: 1px solid grey;
        border-left: none;
        border-right: none;
    }
}

#menu-primary {
    margin-top: 8px;
}
