#home-photo {

}

.home {
    .page-header h1 {
        display: none;
    }
    /*.wrap.container {
        max-width: none;
        padding: 0;
    }
    .content.row {
        margin:0;
    }
    .main {
        padding: 0;
    }*/
    .full {
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        padding-bottom: 20px;
        left: 50%;
    }
    .jumbotron {
        background: url(../images/yard.jpg) no-repeat;
        background-size: cover;
        color: white;

        &-inner {
            background-color: rgba( $brand-primary, .6);
            padding: 15px;
            margin-bottom: 15px;
        }
    }

}
